@model InformationApp.Models.Announcements

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Announcements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementAuthor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
