@model IEnumerable<InformationApp.Models.Members>

<ul class="ListView">
    @foreach (var item in Model)
    {
        <li>
            <span>@Html.DisplayFor(modelItem => item.Name)</span> <br />
            @Html.DisplayFor(modelItem => item.EmailAddress) <br />
            @Html.DisplayFor(modelItem => item.Address) <br />
            @Html.DisplayFor(modelItem => item.PhoneNumber) <br />
            @Html.DisplayFor(modelItem => item.Location) <br />
            @Html.DisplayFor(modelItem => item.Biography) <br />
            @Html.DisplayFor(modelItem => item.Skills) <br />
        </li>
    }
</ul>

