@model IEnumerable<InformationApp.Models.Events>

@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventList</h2>

<p>
    @Html.ActionLink("Create New", "AddEvent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventsId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventsId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventsId })
            </td>
        </tr>
    }

</table>


